@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap");

@theme {
  /* Colors */
  --color-gray: #707070;
  --color-snow: #fffafa;
  --color-dark: #0c0c0c;
  --color-light-pink: #fff4f6;
  --color-soft-pink: #fcd3db;
  --color-pink: #f692a4;
  --color-light-red: #ee274a;
  --color-black: #000000;

  /* Fonts */
  --font-rethink-sans: "Rethink Sans", sans-serif;

  /* Font Sizes */
  --text-sm: 1rem;   /* 16px */
  --text-base: 1.3125rem;  /* 21px */
  --text-lg: 1.6875rem;   /* 27px */
  --text-xl: 2.5rem;   /* 40px */
  --text-4xl: 5.625rem;   /* 90px */

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Line Heights */
  --leading-tight: 1.3125rem;   /* 21px */
  --leading-normal: 1.75rem;    /* 28px */
  --leading-relaxed: 2.125rem;  /* 34px */
  --leading-loose: 3.25rem;    /* 52px */
  --leading-4xl: 6.5625rem;    /* 105px */
}

@layer base {
  html {
    font-family: var(--font-rethink-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-rethink-sans font-extrabold leading-loose text-4xl text-black;
  }

  .quote {
    @apply font-rethink-sans font-bold text-4xl leading-[52px] text-black;
  }

  .link {
    @apply font-rethink-sans font-semibold text-base leading-[21px] text-black underline;
  }

  .button {
    @apply font-rethink-sans font-bold text-lg leading-[28px] text-black;
  }

  .body {
    @apply font-rethink-sans font-normal text-base leading-[21px] text-black;
  }

  .lead {
    @apply font-rethink-sans font-medium text-lg leading-[28px] text-black;
  }

  .label {
    @apply font-rethink-sans font-semibold text-2xl leading-[34px] text-black;
  }

  .h1 {
    @apply font-rethink-sans font-extrabold text-[90px] leading-[105px] text-black;
  }
}

/* Prevent linked anchors from appearing under the navigation */
section{
  scroll-margin-top: 8em;
}

/* Swiper General Styling */
.swiper-pagination-bullet{
  width: 16px !important;
  height: 16px !important;
  background-color: var(--color-light-red) !important;
  color: var(--color-light-red) !important;
  border: 2px solid var(--color-light-red) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  border: 2px solid !important;
  background: none !important;
  background-color: none !important;
}